%%-*- mode: erlang -*-
%% ex: ft=erlang
{eunit_opts, [{report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{ct_use_short_names, true}.
{deps, [
    {cowboy, "1.0.0", {git, "git@github.com:ninenines/cowboy.git", {tag, "1.0.0"}}},
    {jsxn, "0.2.1", {git, "git@github.com:talentdeficit/jsxn.git", {tag, "v0.2.1"}}}
]}.
