%%-*- mode: erlang -*-
%% ex: ft=erlang
{erl_opts, [{parse_transform, lager_transform}
            %, debug_info, report_warnings, {warn_format,1}
            %, warn_export_vars, warn_obsolete_guard
            %, warn_unused_import, warn_missing_spec
            %, warn_untyped_record
           ]}.
{eunit_opts, [{report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{ct_use_short_names, true}.
{deps, [
    {cowboy, "1.0.0", {git, "git@github.com:ninenines/cowboy.git", {tag, "1.0.0"}}},
    {jsxn, "0.2.1", {git, "git@github.com:talentdeficit/jsxn.git", {tag, "v0.2.1"}}},
    {lager, "2.0.3", {git, "git@github.com:basho/lager.git", {tag, "2.0.3"}}}
]}.
