.ui-page .ui-header {
    padding: 0 !important;
}
.ui-page .ui-footer {
    padding: 0 !important;
}

.vm_console {
    background-color: lightblue;
    padding: 0 !important;
}

.vm_blocks {
    margin: 0px;
}

#erl_input {
    width : 100% !important;
    border : none !important;
    padding : 0px !important;
    margin: 0px !important;
}
